.logo{
    margin-top: 50px;
 margin-left: 50px;;
 position:absolute;
 top: 0;
 left: 0;
}

.grow{
    flex-grow: 1;
    padding-left: 60px;
    margin-left: 25%;
}

.list{
    align-items: center;
    display:flex;
    gap: 150px;
    font-family:cursive;
    font-weight: 400;
    font-size: 50px;
}
.button{
    text-align: right;
    background-color: rgb(134, 67, 197);
    color: white;
    font-weight: 500;
    font-size: 30px;
    outline-offset: 2px;
 border-radius: 25px;
 padding: 20px;
 margin-top: 50px;
 margin-right: 50px;

 position:absolute;
 top: 0;
 right: 0;
}

.col{
    margin-left: 5%;
    margin-top: 10%;
    height: 1200px;
    width: 1200px;
    border-color: black;
}
.page{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 74px;
    color: #3c2f60;
    align-content: space-around;
    padding: 5px;
}
.page span {
    color: #7874b5;
  }
  .grey{
    font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: 0.01em;
  color: #828282;
  margin-top: 28px;
  align-content:space-between;
  margin-bottom: 10px;
  }
  
.col-right-1{
    height: 1200px;
    width: 1500px;
    position:absolute;
    right: 0;
    bottom: 0;
    margin-right: 50px;
    padding-right: 10px;
    border: 2px solid black;
}

